.homepage-body {
	width: 100%;
	margin: 0 auto;
}

/* AUTHOR SECTION */
.author-image {
	height: 15rem;
	width: 15rem;
	margin: 0 auto;
}
.author-title {
	color: #acb3b7 !important;
}

/* TERMINAL SECTION */
.terminal {
	display: flex;
	flex-direction: column;
	width: 30rem;
	margin: 0 auto;
	border-radius: 3%;
	border: 1.5px solid #5e5e5e;
	font-weight: 100;
	font-family: Consolas;
	text-align: left;
	background-color: #373737;
	color: #c4c2c2;
}
.terminal-title {
	padding-top: 0.3rem;
	padding-left: 0.3rem;
	padding-bottom: 0.3rem;
	color: white;
	font-size: small;
}
.terminal-body {
	height: 19.18rem;
	width: 100%;
	margin: 0 auto;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: black;
	overflow-y: auto;
}
.terminal-text {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.terminal-input {
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.terminal-command {
	width: 7rem;
	display: inline-block;
}

@media (max-width: 500px) {
	.terminal {
		width: 85%;
	}
}